<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectsReport.Properties.Settings.collect" connectionString="Data Source=10.1.32.68;Initial Catalog=Collect;Persist Security Info=True;User ID=RPUser;Password=RPU1234%^"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
